{% extends 'base.html' %}

{% block title %}Registrar empleado{% endblock title %}
    

{% block content %}
{% include 'includes/header.html' %}    

<div class="container my-4">
    <h1>Registrar empleado</h1>
    
    <form class="row my-3" method="POST" enctype="multipart/form-data">{% csrf_token %}
        
        <div class="col  form-group">
            <label>Nombre:</label>
            {{ form.first_name }}
            
        </div>
        <div class="col  form-group">
            <label>Apellidos:</label>
            {{ form.last_name }}
                
        </div>
        <div class="col form-group">
            <label>Trabajo:</label>
            {{ form.job }}
        </div>
        <div class="col form-group">
            <label>Departamento:</label>
            {{ form.departamento }}
        </div>
        <div class="col  form-group">
            <label>Skills:</label>
            {{ form.habilidades }}
        </div>
        <div class="col  form-group">
            <label>Imagen:</label>
            {{ form.avatar }}
        </div>
        <div class="col-12 my-5">
            <button type="submit" class="btn btn-success">Registrar Nuevo</button>
        </div>        
        
    </form>


</div>


{% endblock %}


<h1>Registrar empleado</h1>
<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Agregar</button>
</form>

