{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{object.full_name}}
{% endblock title %}
    

{% block content %}
{% include 'includes/header.html' %} 

<div class="container">
    <h1 class="text-center">Detalle del empleado</h1>
    <div class="row justify-content-center mt-5">
        <div class="card col-4" style="width: 18rem;">
            {% if empleado.avatar %}
                <img src="{{ empleado.avatar.url }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'img/working.jpg' %} " class="card-img-top" alt="...">
                 
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ empleado.get_job_display }}</h5>
              <p class="card-text">{{ empleado.first_name }}</p>
              <p class="card-text">{{ empleado.last_name }}</p>
              <p class="card-text">{{ empleado.departamento.short_name }}</p>
              <div class="badge bg-primary text-wrap fs-6" style="width: 10rem;">
                Habilidades
              </div>
              <ul class="list-group list-group-flush">
                {% for habilidad  in empleado.habilidades.all  %}
                <li class="list-group-item">{{ habilidad.habilidad }}</li> 
                {% endfor %}
              </ul>
            </div>
            
          </div>
    </div>
</div>


{% endblock %}




{{empleado}}

<h2>Todos los datos</h2>
<p>{{empleado.first_name}}</p>
<p>{{empleado.last_name}}</p>
<p>{{empleado.job}}</p>
<p>{{empleado.departamento}}</p>
<p>{{empleado.habilidades}}</p>

