{% extends 'base.html' %}

{% block title %}Lista Empleados{% endblock %}

{% block content %}
{% include 'includes/header.html' %} 

<div class="container my-4">
    <h1>Lista de Empleados</h1>

    <form class="row mt-3" method="GET">{% csrf_token %}
        <div class="col-7 my-3">
            <input class="form-control" type="text" id="keyword" name="keyword" placeholder="Buscar Empleado">
        </div>
        <div class="col-2 my-3">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
        
    </form>
    

    <div class="row" >
      <div class="col-12 mt-4">
        <table class="table" >
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDOS</th>
                <th scope="col">DEPARTAMENTO</th>
                <th scope="col">ACCION</th>
              </tr>
            </thead>
            <tbody>
              {% for empleado in lista_empleados %} 
              <tr>
                <td>{{ empleado.id }}</td>
                <td>{{ empleado.first_name }}</td>
                <td>{{ empleado.last_name }}</td>
                <td>{{ empleado.departamento }}</td>
                <td><a class="btn btn-danger" href="{% url 'persona_app:detalle-empleado' empleado.id %}" role="button">Ver</a></td>
              </tr>
              {% endfor %} 
            </tbody>
        </table>
      </div>
      <div class="col-12">
        
        {% if is_paginated %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li> 
            {% endif %}
            
            {% for pagina in paginator.page_range %}
            
            <li class="page-item"><a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a></li> 
            {% endfor %}
              
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          
          </ul>
        </nav>
        {% endif %}
          
      </div>
    </div>


</div>
    

{% endblock %}

    